.modal-content{
    width: 92%;
    position: absolute;
    height: 92%;
}

.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
    padding: 4%;
    height: 100%;
    margin: 0px;
}

.modal-body{
    padding: 0em 1em 0em 1em;
}

.qa_process{
    background-color: #eee;
}

.qa_main{
    background-color: transparent;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.qa_process_bar{

}

.qa_box{
    padding:5px;
    margin-top:20px;
}
  
.qa_box_text{
    background-color:#002afb;
    border-radius:.2em;
    width:100%;
    padding:3px 0px 3px 0px;
    height:auto;
    line-height: 180%;
    text-align:center;
    color:#fff;
}
  
.qa_btn{
    padding:5px;
}
  
.qa_btn_text{
    background-color:#fff;
    border-radius:.5em;
    border:2px solid #ffce45;
    width:100%;
    padding:8px 0px 8px 0px;
    height:auto;
    text-align:center;
    font-size:1.2em;
    color:#ffce45;
    transition: all .2s;
}
  
.qa_btn_text{
    cursor: pointer; 
}
  
.qa_btn_text_selected{
    border:2px solid #002afb;
    color:#002afb;
}
  
.qa_contain{
    background-color:#eee;
}
  
@media only screen and (min-width: 1024px) {
    
    .qa_btn_text:hover{
      background-color:#ffce45;
      color:#fff;
    }   
    .qa_btn_text_selected:hover{
      background-color:#002afb;
      color:#fff;
    }
}


.answer_section{
    background-color:#eee;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.answerContent{
   height: auto;
}

.qa_final_btn{
    width: 40%;
    margin: 5%;

}


