@color-B-Pri: #002AFB;
@color-B-Sec: #2D6AFB; 
@color-Y-Pri: #FECB3A;
@color-Y-Sec: #FED863;

*{
    color: @color-B-Pri;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14 px;
    box-sizing: border-box;
    justify-content: center;
}
button

h1, .h1 { 
    z-index: 3000;
    font-size: 1.5rem; 
    margin-top: 10px; 
    font-weight: 600;
}
h4{
    color: @color-B-Pri;
    font-size: 1.3em;
}
h6{
    color: @color-B-Sec;
    margin-bottom: 0;
    margin-top: 0.8rem;
    font-weight: 300; 
}
.session-title{
    padding-left: 280px;
}
.session-content{
    width: 100%;
    padding-left: 325px;
    padding-right: 170px;    
}
.endingspace{ width: 100%; height: 60px; }
.navbar{
    z-index: 200;
    position: fixed;
    align-content: stretch;
    align-items: flex-end;
    height: 100px;
    padding-bottom: 0;
    // width: 100%;
    right: 1rem;
    left: 1rem;
    .nav-BG{
        height: 100%;
        margin: 0 1rem;
        img{
            margin-left: -120px;
            margin-top: -60px;
            width: 400px;}
    }
    ul{
        align-items: end;
    }
    .lang{
        display: block;
        padding: .5rem 0;
        color: @color-B-Pri;
        padding-right: 1rem;
        }
    .menuBG{
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
        position: absolute;
        z-index: -10;
        width: 800px; 
        height: 100px;
        margin-left: 260px;
        transform: skewX(-17deg);
        border-bottom: 2rem solid white;
    }
    #menu{        
        z-index: 500;
        margin-left: -275px;
        border-bottom: 1px solid @color-B-Sec;
        flex-grow: 1;
        justify-content: flex-start;
        align-self: flex-end;
        .space{ flex-grow: 1; }
        .social-links{
            z-index: 1000;
            font-size: 1.5rem;
            .fab{
                cursor: pointer;
                color: @color-B-Pri;
                padding-right: 1rem; }   
        }

    }
    .nav-link{        
        cursor: pointer;    
        padding: 0.5rem 0 0.5rem 1rem;
    }
    .mobile-menu-button{
        display: none;
    }
}
.mobile-menu{
    display: none;
}
.session-content{
    p{ width: 100%; margin-left: -45px; }
}
.row{
    align-items: stretch;
}
.s1{
    img{
        position: absolute;
    }
    .KV{
        position: absolute;
        height: 0;
        padding-bottom: 50%;
    }
    #typeA{
        width: 21%;
        left: 46.8%;
        top: 23%;
    }
    #typeB{
        width: 27%;
        left: 46%;
        top: 34%;
    }
    #ribbons{
        width: 70%;
        top: -10%;
        left: -1%;
    }
    #visual{
        left: 3%;
        top: 12%;
        width: 68%;
    }
    .mainInfo{
        padding-left: 70%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding-top: 22%;
        padding-bottom: 10%;
    }
    p{font-size: 0.8rem; margin-top: -.5rem;}
}
.s2{
    .carousel-inner{
        border-radius: 5px;
    }
    .carousel-item{
        height: 0;
        padding-bottom: 56%;
        background-color: #2D6AFB;
    }
}
.s3{
    position: relative;
    flex-direction: row;
    align-items: stretch;
    .options{        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1% 15px;
        #knowing{
            position: absolute;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            padding: 3em;
            border: 1px solid @color-B-Sec;
            border-radius: 10px;
            // transform: translateX(-105%);
            background-color: rgba(255,255,255,1);
            transition-duration: .5s;
            transition-timing-function: ease-out;
            button{
                span{color: white; padding: 0 .5em;}
                width: 40%;
            }
        }
        .knowing-content{
            width: 100%;
        }
        >button{
            height: 8%;
        }
    }
}
.s4{
   .s4-vote{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
        button{
            margin: 5px;
            flex-grow: 1;
            p{ font-size: 0.7rem; margin: 0;}
        }
        span{
            position: relative;
            margin: 2rem 0;
            margin-left: -1%;
            background-color: @color-Y-Pri;
        }
    }
}
.s5{
    .ytframe{
        display: flex;
        padding-bottom: 37.4%; /* 16:9 56.25%*/
        height: 0;
         iframe{
            position: absolute;
            width: 90%;
            height: 100%;
        }    
    }
    .s5-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        padding: 15px;
    }
}
.s6{
    .pie-chart{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        .pie-chart-types{      
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .types{
                display: block;
                text-align: center;
                position: relative;
                &:before{
                    content: '.';
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    margin: auto;
                }
            }
        }
        .pie-chart-frame{
            z-index: 100;
            padding-bottom: 50%;
            img{
                width:100%;
                position: absolute;;
            }
        }
        .pie-chart-content{
            padding: 10px;
            position: absolute;
            background-color: whitesmoke;
            height: 100%;
            width: 100%;
            z-index: -100;
        }
    }
    button{
        margin: 3rem 0;
    }
}
.s7{
    .mission-generater{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        // background-image: url("../img/KmissionFrame.svg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-attachment: scroll;
        // background-size: contain;
        img{
            // display: block;
        }
        .missionGO{
            position: absolute;
            font-size: 1.5rem;
            top: 15%;
            height: 70%;
            width: 70%;

            // position: absolute;
            // margin: 15% 40%;
        }
        .mission-content{
            display: none;
            ::before{
                content:"Mission:";
            }
            position: absolute;
            font-size: 1.5rem;
            text-align: right;
            bottom: 10%;
            right: 17%;
            // position: absolute;
        }
        .mission-content::before{
                content:"Mission: ";
            }
    }
    .s7-note{
        text-align: center;
    }

}
.s8 {
    height:500px;
    background: linear-gradient(@color-Y-Pri, @color-Y-Sec);

}
.footer{
    height: 300px;
    background-color: @color-B-Sec;
    h1{
        color: #fff;
    }
}

// Bootstrap Fix

.btn-outline-secondary:hover{
    color: #002AFB;
} 
@media (max-width: 1200px) {
    .navbar{
        padding: 0;
        background: #fff;
        height: 60px;
        padding-top: 10px;
        img{
            width: 120px;
        }
        #menu{ 
            margin: 0; border: none; 
            align-self: flex-start;
        }
        .nav-item{
            display: none;
        }
        .mobile-menu-button{
            display: block;
        }
        i{
            font-size: 1.5rem;
        }
    }
    .mobile-menu{
        display: block;
        right: 0;
        z-index: 400;
        background-color: @color-B-Pri;
        position: fixed;
        margin-top: 60px;
        overflow: hidden;
        height: 0px;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        padding: 0;
        padding-right: 3rem;
        li{
            list-style: none;  
            a{
                color: white;
            }
        }
    }
    .nav-BG,.menuBG{
        display: none;
    }
    .sessions{
        // p{width: 100%; margin: auto;}
    }
    .session-title{
        padding-left: 140px;
    }
    .s1{
        flex-direction: column;
        .KV img{
            position: absolute;
        }
        .mainInfo{
            // background: linear-gradient(to right,rgba(255,255,255,0), rgba(255,255,255,1));
            align-items: end;
            margin: 0; 
            border-right:5px solid white;
        }
        p{
            text-align: right;
            padding-bottom: .5rem;
        }
    }
    .s4{
        .s4-vote{
            width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-around;
        button{
             width: 100%;
         }
        }
    }
}
@media (max-width: 767.98px) {
    *{
        font-size: 14px;
    }
    h4, h6{
        text-align: right;
    }
    .session-content{
        padding: 0;
        text-align: center;
    }
    p{
    margin-top: 1rem;}
    .endingspace{ height: 1rem;}
    .s1{
        .KV{ top: 80px; }
        img{
            width: 100%;
        }
        #typeA ,#typeB{
            display: none;
        }
        #ribbons{
            width: 130%;
            top: -20%;
            left: -25%;
        }
        #visual{
            left: -25%;
            top: 0%;
            width: 130%;
        }
        .mainInfo{
            align-items: flex-end;
            padding: 0 1rem;
            padding-top: 80px;
            .mobilespace{
                width: 100%;
                display: block;
                height:100px;
            }
            h4, h6, p{
                display: inline-block;
                background: #fff;                       
                text-align: right;
            }
        }
    }
    .s3{
        flex-direction: column-reverse;
    }
}


// styleJS

.show-menu{
    height: 400px;
}

.btn-outline-secondary_active{
    background-color: #FECB3A;
    color: #fff;
}
.missionKart{
    z-index: 500;
    cursor: pointer;
    display: none;
    position: fixed;
    right: -250px;
    bottom: 100px;
    height: 100px;
    width: 400px;
    padding: 10px;
    padding-left: 150px;
    transition-duration: 1s;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2rem;
    p{
        margin-bottom: 0;
    }
    .mission-content{
        flex-grow: 1;
    }
    .mission-alert{
        position: absolute;
        top:11px;
        left: 28px;
     
    }
    .missionKart-BG{
        position: absolute;
        z-index: -10;
        width: 410px;
        height: 100%;
        right: -10px;
        top:0;
        transform: skewX(-7deg);
        background-color: @color-Y-Pri;
    }
    img{
        left: 10px;
        position: absolute;
        height: 80px;
    }
}
.missionKart-show{
    right: 0px;
}