* {
  color: #002AFB;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16  px;
  box-sizing: border-box;
  justify-content: center;
}
h1,
.h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 2rem;
}
h4 {
  color: #002AFB;
  font-size: 1.3em;
}
h6 {
  color: #2D6AFB;
  margin-bottom: 0;
  margin-top: 0.8rem;
  font-weight: 300;
}
.session-title {
  padding-left: 340px;
}
.session-content {
  width: 100%;
  padding-left: 340px;
  padding-right: 170px;
}
.navbar {
  z-index: 200;
  position: fixed;
  align-content: stretch;
  align-items: flex-end;
  height: 100px;
  padding-bottom: 0;
}
.nav-link {
  cursor: pointer;
}
.navbar .nav-BG {
  height: 100%;
  margin-left: -50px;
  margin: 0 1rem;
}
.navbar .nav-BG img {
  margin-left: -50px;
  margin-top: -50px;
  width: 400px;
}
.navbar ul {
  align-items: end;
}
.navbar .lang {
  display: block;
  padding: .5rem 0;
  color: #002AFB;
  padding-right: 1rem;
}
.navbar .menuBG {
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  position: absolute;
  z-index: -10;
  width: 750px;
  height: 100px;
  margin-left: 240px;
  transform: skewX(-17deg);
  border-bottom: 2rem solid white;
}
.navbar #menu {
  z-index: 500;
  margin-left: -345px;
  border-bottom: 1px solid #2D6AFB;
  flex-grow: 1;
  justify-content: flex-start;
}
.navbar #menu .space {
  flex-grow: 1;
}
.navbar #menu .social-links {
  font-size: 1.5rem;
}
.navbar #menu .social-links .fab {
  color: #002AFB;
  padding-right: 1rem;
}
.sessions p {
  width: 100%;
}
.row {
  align-items: stretch;
}
.s1 img {
  width: 100%;
}
.s1 .mainInfo {
  margin-left: -4rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding-top: 15%;
}
.s2 .carousel-inner {
  border-radius: 5px;
}
.s2 .carousel-item {
  height: 0;
  padding-bottom: 56%;
  background-color: #2D6AFB;
}
.s3 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
}
.s3 .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1% 15px;
}
.s3 .options .knowing {
  position: absolute;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 3em;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #FED863;
  border-radius: 10px;
}
.s3 .options .knowing button {
  width: 40%;
}
.s3 .options .knowing button span {
  color: white;
  padding: 0 .5em;
}
.s3 .options > button {
  height: 8%;
}
.s4 button {
  margin: .5rem;
}
.s5 .ytframe {
  display: flex;
  padding-bottom: 37.4%;
  /* 16:9 56.25%*/
  height: 0;
}
.s5 .ytframe iframe {
  position: absolute;
  width: 90%;
  height: 100%;
}
.s5 .s5-right {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 15px;
}
.s6 .pie-chart {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}
.s6 .pie-chart .pie-chart-types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.s6 .pie-chart .pie-chart-types .types {
  display: block;
  text-align: center;
  position: relative;
}
.s6 .pie-chart .pie-chart-types .types:before {
  content: 'o';
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #002AFB;
  margin: auto;
}
.s6 .pie-chart .pie-chart-frame {
  z-index: 100;
  padding-bottom: 50%;
}
.s6 .pie-chart .pie-chart-frame img {
  width: 100%;
  position: absolute;
}
.s6 .pie-chart .pie-chart-content {
  padding: 10px;
  position: absolute;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.s6 button {
  margin: 3rem 0;
}
.s7 .mission-generater {
  height: 0;
  padding-bottom: 48%;
}
.s8 {
  height: 500px;
  background: linear-gradient(#FECB3A, #FED863);
}
.footer {
  height: 300px;
  background-color: #2D6AFB;
}
.footer h1 {
  color: #fff;
}
.btn-outline-secondary:hover {
  color: #002AFB;
}

.btn-outline-secondary_active {
  color: #002AFB;
  background-color: #fdca3a;
}


@media (max-width: 1200px) {
  .navbar img {
    width: 120px;
  }
  .nav-BG,
  .menuBG,
  #menu {
    display: none;
  }
  .session-title {
    padding-left: 160px;
  }
}
@media (max-width: 767.98px) {
  .s3 {
    flex-direction: column-reverse;
  }
}
